.main-image {
  height: 400px;
  width: 100%;
  object-fit: contain;
  background: #f8f9fa;
  padding: 10px;
  transition: opacity 0.3s ease-in-out;
}

.thumbnail {
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #ddd;
  transition: 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05);
  border: 2px solid #007bff;
}


.thumbnail.active {
  border: 3px solid #007bff;
}